<div class="topbar">
  <h2 class="topbar-title">
    作品牆 <span class="topbar-title-en">Portfolio</span>
  </h2>

  <ul class="topbar-list" [ngClass]="{ active: !isActive }">
    <li class="return" (click)="returnBtn()">返回前頁</li>
  </ul>

  <div class="desk-menu" (click)="returnBtn()">
    <img src="back-index.png" />
  </div>

  <div class="mobile-menu" (click)="navToggle()">
    @if(!isActive) {
    <img
      class="img-menu"
      src="mobile-menu.png"
      [ngClass]="{ active: !isActive }"
    />
    } @else {
    <img class="img-close" src="close.png" />
    }
  </div>
</div>
<!-- ** 外層容器 ** -->
<div class="container-wrapper" [ngClass]="{ active: isActive }">
  <!-- masonry 套件架構 -->
  <div #grid class="grid">
    <div class="grid-sizer"></div>

    <!-- 作品牆設定 -->
    @for(item of portfolioData; track $index) {
    <div class="grid-item" (click)="linkTo(item.link)">
      <div
        class="card"
        [ngClass]="item.size"
        [style.background-color]="item.color"
        [style.background-image]="'url(' + item.image + ')'"
      >
        <h3 class="card-title">{{ item.title }}</h3>
        <div class="card-txt">
          @for(tag of item.tagList; track $index) {
          <!--  -->
          @if(tag) {
          <span class="card-tag">{{ tag }}</span>
          }
          <!--  -->
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
