.info-list {
  width: 100%;
  .person-name {
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    color: #545b77;
    margin-bottom: 16px;
    @media screen and (max-width: 430px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  .link-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    img {
      @media screen and (max-width: 430px) {
        width: 40px;
        height: 40px;
      }
    }
    &-item {
      width: 32px;
      height: 32px;
      margin: 0 2px;
    }
  }
  &-item {
    .item-group {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      margin-bottom: 32px;
      padding-bottom: 16px;
      p .item-link-group {
        display: flex;
        align-items: center;
        .link-icon {
          width: 20px;
          margin-left: 6px;
          opacity: 0;
          transition: 0.1s;
        }
        &:hover {
          .link-icon {
            opacity: 1;
          }
        }
      }
      .mailto {
        color: #545b77;
        text-decoration: none;
        transition: 0.1s;
        &:hover {
          color: #fff !important;
        }
      }
    }
    .item-group:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .item-title {
    color: #fff;
    text-shadow: 2px 3px 5px #4d4d4d;
    margin-bottom: 16px;
    @media screen and (max-width: 430px) {
      font-size: 22px;
    }
    span {
      color: #545b77;
      text-shadow: none;
      margin-left: 8px;
      font-style: italic;
    }
  }
  .item-content {
    margin-left: 8px;
    p {
      margin-bottom: 12px;
      color: #545b77;
      display: flex;
      align-items: center;

      @media screen and (max-width: 430px) {
        font-size: 18px;
      }
    }
    .item-icon {
      width: 18px;
      height: 18px;
      margin-right: 8px;
      margin-top: 3px;
      @media screen and (max-width: 430px) {
        margin-top: 5px;
      }
    }
    .item-link {
      text-decoration: none;
      color: #545b77;
      transition: 0.1s;
      &:hover {
        color: #fff;
      }
    }
  }
  .item-content p:last-of-type {
    margin-bottom: 0;
  }
}
