.main-wrapper {
  padding: 12px 24px 12px 12px;
}
.main-section {
  margin-bottom: 40px;
  .section-title {
    font-size: 28px;
    color: #545b77;
    margin-bottom: 16px;
    text-shadow: 4px 4px 5px rgba(102, 102, 102, 0.3);
  }
  .section-content {
    font-size: 18px;
    margin-left: 24px;
    line-height: 1.6;

    .content-list {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      .content-item {
        width: 33.333%;
        display: flex;
        flex-direction: column;
        .item-title {
          font-size: 20px;
          font-weight: 700;
          color: rgba(84, 91, 119, 0.7);
        }
        .item-txt {
          border-right: 2px solid rgba(84, 91, 119, 0.3);
          margin-top: 12px;
          padding: 0 8px;
          font-size: 18px;
          flex: 1;
        }
      }
    }
    p {
      margin-bottom: 8px;
    }
    .content-txt {
      text-indent: 18px;
      text-align: justify;
    }
    .item-group {
      display: flex;
      align-items: stretch;
      gap: 24px;
      .date-line {
        width: 2px;
        background: #bbb;
        position: relative;
        &::after {
          content: "";
          width: 12px;
          height: 12px;
          background: #bbb;
          border-radius: 100px;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .date-list {
        position: relative;
        flex: 1;
        padding: 16px 0 32px;
        .list-title {
          position: absolute;
          top: 0;
          transform: translateY(-50%);
          font-weight: 700;
        }
        .list-time {
          color: #555;
          font-size: 16px;
          margin-bottom: 8px;
        }
        .list-item {
          list-style: square;
          margin-left: 24px;
          padding-left: 8px;
          text-align: justify;
          &::marker {
            color: rgba(85, 85, 85, 0.5);
          }
        }
      }
    }
  }
  .section-content .content-list .content-item:first-child .item-txt {
    padding-left: 0;
  }
  .section-content .content-list .content-item:last-child .item-txt {
    border-right: none;
    padding-right: 0;
  }
  .section-content p:last-of-type {
    margin-bottom: 0;
  }
}
.main-section:last-of-type .section-title {
  margin-bottom: 32px;
}
